@import "styles/header";
@import "styles/footer";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
    --primary-light: #e1f4fd;
    --primary-dark: #113154;
    --secondary-dark: #5a4678;
}

* {
    font-family: "Titillium Web", sans-serif;
}

.header,
.footer {
    background-color: white;
}
